<%= render '/devise/shared/splash' %>
<div id="login">
  <div id="logo">
    <h1>Earful</h1>
  </div>
  <div id="signin">
    <a href="/users/auth/facebook">
      <i class="fa fa-facebook"></i>
      <div class="fbtext">Sign in with Facebook</div>
    </a>
  </div>
  <div id="instructions">
    Roate your phone for instructions!
  </div>
</div>