<!-- top nav -->
<nav>
  <ul>
    <li id="navMySounds" ng-click="loadMySounds()">
      My Sounds
    </li>
    <li id="navMyFeed" ng-click="loadMyFeed()">
      My Feed
    </li>
    <li id="navGlobalFeed" ng-click="loadGlobalFeed()">
      All Sounds
    </li>
    <li id="navFindUsers" ng-click="findUsers()">
      Find Users
    </li>
  </ul>
</nav>
<!-- My Personal Feed -->
<div id="mySounds">

  <div class="soundItem animated fadeInUp" ng-repeat="item in mySounds track by $index | orderBy : created_at " on-last-repeat>

    <div id="mySoundsPage" class="mediaSection">
      <div class="playButton" >
        <i ng-hide="playingSound" ng-click="playSound(item)" class="fa fa-play-circle-o"></i>
        <i ng-show="playingSound" ng-click="stopSound(item)" class="fa fa-stop"></i>
      </div>
      <div class="wave waveform_{{item.id}}">
      </div>
    </div>
    <div class="post">
      <div class="dateBox">
        <div class="day">
          {{ item.created_at | date:'dd' }}
        </div>
        <div class="monthyear">
          {{ item.created_at | date:'MMM, y' }}
        </div>
        <div class="location">
          <i class="fa fa-map-marker"></i>{{item.location}}

        </div>
      </div>
      <div class="postText">
        <div class="postTitle">
          {{item.title}}
        </div>
        <div class="postContent">
          {{item.content}}
        </div>
      </div>
    </div>
  </div>

</div>

<!-- My Following Feed -->
<div id="myFeed">
</div>


<!-- Global Feed -->
<div id="globalFeed">
</div>

<!-- Find Users -->
<div id="findUsers">
</div>

<!-- Map View -->
<div id="map">
</div>

<!-- Settings -->
