<!-- top nav -->
<nav>
  <ul>
    <li id="navMySounds" ng-click="loadMySounds()">
      My Sounds
    </li>
    <li id="navMyFeed" ng-click="loadMyFeed()">
      My Feed
    </li>
    <li id="navGlobalFeed" ng-click="loadGlobalFeed()">
      All Sounds
    </li>
    <li id="navFindUsers" ng-click="findUsers()">
      Find Users
    </li>
  </ul>
</nav>
<!-- My Personal Feed -->
<div id="mySounds">

  <div class="soundItem animated fadeInUp" ng-repeat="item in mySounds track by $index | orderBy : created_at " on-last-repeat>

    <div class="mediaSection">
      <div class="playButton" >
        <i ng-hide="playingSound" ng-click="playSound(item)" class="fa fa-play-circle-o"></i>
        <i ng-show="playingSound" ng-click="stopSound(item)" class="fa fa-stop"></i>
      </div>
      <div class="wave waveform_{{item.id}}">
      </div>
    </div>
    <div class="post">
      <div class="dateBox">
        <div class="day">
          {{ item.created_at | date:'dd' }}
        </div>
        <div class="monthyear">
          {{ item.created_at | date:'MMM, y' }}
        </div>
        <div class="location">
          <i class="fa fa-map-marker"></i>{{item.location}}

        </div>
      </div>
      <div class="postText">
        <div class="postTitle">
          {{item.title}}
        </div>
        <div class="postContent">
          {{item.content}}
        </div>
      </div>
    </div>
  </div>

</div>

<!-- My Following Feed -->
<div id="myFeed">
  <div class="followedItem animated fadeInUp" ng-repeat="item in followedPosts" on-last-repeat>

    <div class="titleBar">
      <div class="user">
        {{item.user_name}}<a href="#" ng-click="unfollowUser(item)" ng-hide="userId == item.user_id">unfollow</a>
      </div>
      <div class="date">
        {{ item.created_at | date:'MMM dd, y' }}
      </div>
    </div>
    <div class="mediaSection">
      <div class="playButton" >
        <i ng-hide="playingSound" ng-click="playSound(item)" class="fa fa-play-circle-o"></i>
        <i ng-show="playingSound" ng-click="stopSound(item)" class="fa fa-stop"></i>
      </div>
      <div class="wave waveform_{{item.id}}">
      </div>
    </div>
    <div class="feedText">
      <div class="title">{{item.title}}</div>
      <div class="content">{{item.content}}</div>
    </div>
  </div>
</div>

<!-- Global Feed -->
<div id="globalFeed">
  <div class="searchPosts">
    <input type="text" name="search" placeholder="Search for Sounds" class="search" ng-model="searchContent">
  </div>
  <div class="followedItem animated fadeInUp" ng-repeat="item in allPosts | filter:searchContent" on-last-repeat>
    <div class="titleBar">
      <div class="user">
        {{item.user_name}}<a href="#" ng-click="unfollowUser(item)" ng-hide="userId == item.user_id">unfollow</a>
      </div>
      <div class="date">
        {{ item.created_at | date:'MMM dd, y' }}
      </div>
    </div>
    <div class="mediaSection">
      <div class="playButton" >
        <i ng-hide="playingSound" ng-click="playSound(item)" class="fa fa-play-circle-o"></i>
        <i ng-show="playingSound" ng-click="stopSound(item)" class="fa fa-stop"></i>
      </div>
      <div class="wave waveform_{{item.id}}">
      </div>
    </div>
    <div class="feedText">
      <div class="title">{{item.title}}</div>
      <div class="content">{{item.content}}</div>
    </div>
  </div>
</div>

<!-- Find Users -->
<div id="findUsers">
  <input type="text" name="search" placeholder="Search for Users" class="search" ng-model="searchUsers">
  <div class="users animated fadeInUp" ng-repeat="user in users | filter:searchUsers">

    <div class="userRecord">
      <div class="avatar">
        <img src="/" width="100px" height="100px"/>
      </div>
      <div class="userInfo">
        <div class="name">{{ user.user_name }}</div>
        <a href="#" ng-click="followUser(user)" ng-hide="userId == user.id">follow</a>
      </div>
    </div>
  </div>
</div>

<!-- Map View -->
<div id="map">
</div>

<!-- Settings -->
