<%= hidden_field(:user, :id) %>
<div id="myfeed" ng-controller="FeedController as feed">
  <div class="post" ng-repeat="item in feedItems track by $index">
    <div class="datebox" ng-hide="editItem === item">
      <div class="day">
        {{ item.created_at | date:'dd' }}
      </div>
      <div class="monthyear">
        {{ item.created_at | date:'MMM, y' }}
      </div>
    </div>
    <div class="waveform"></div>
    <h3 class="title" ng-hide="editItem === item" ng-click="togglePost(item)">{{ item.title }}</h3>
    <input ng-show="editItem === item" type="text" ng-model="item.title">
    <div ng-hide="editItem === item" class="postContent" id="content{{ item.id }}">{{ item.content }}</div>
    <textarea ng-show="editItem === item" ng-model="item.content"></textarea><br>
    <p ng-hide="editItem === item"><audio src="{{ item.sound.url }}" controls></audio></p>
    <p ng-hide="editItem === item">Public: {{ item.public }}</p>
    <p ng-show="editItem === item"><input type="checkbox" name="Public?" ng-model="item.public">Public?</p>
    <button ng-hide="editItem === item" ng-click="selectEditItem(item)">Edit</button>
    <button ng-show="editItem === item" ng-click="selectUpdateItem(item)">Update</button>
  </div>
</div>


