<%= hidden_field(:user, :id) %>

<!-- My Feed Section -->
<div id="myfeed">
  <div class="post" ng-repeat="item in mySounds track by $index | orderBy : created_at ">
    <div class="datebox" ng-hide="editItem === item">
      <div class="day">
        {{ item.created_at | date:'dd' }}
      </div>
      <div class="monthyear">
        {{ item.created_at | date:'MMM, y' }}
      </div>
    </div>
    <div class="waveform"></div>
    <h3 class="title" ng-hide="editItem === item" ng-click="togglePost($event)">{{ item.title }}</h3>
    <input ng-show="editItem === item" type="text" ng-model="item.title">
    <div ng-hide="editItem === item" class="postContent">{{ item.content }}</div>
    <textarea ng-show="editItem === item" ng-model="item.content"></textarea><br>
    <p ng-hide="editItem === item"><audio src="{{ item.sound.url }}" controls></audio></p>
    <!-- <p ng-hide="editItem === item">Public: {{ item.public }}</p> -->
    <div class="onoffswitch" ng-hide="editItem === item">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div><br>
    <p ng-show="editItem === item"><input type="checkbox" name="Public?" ng-model="item.public">Public?</p>
    <button ng-hide="editItem === item" ng-click="selectEditItem(item)">Edit</button>
    <button ng-show="editItem === item" ng-click="selectUpdateItem(item)">Update</button>
  </div>
</div>

<!-- Feed Section -->
<div id="feedList" class="hide">
  <div id="searchbar">
    <h3>EARFULS</h3>
      <input type="text" name="search" placeholder="Search by Tags" id="search">
  </div>
  <div id="feedItems">
    <div class="post" ng-repeat="item in publicPosts track by $index | orderBy : created_at">
      <div class="itemInfo">
        <div class="user">Gillinghammer</div>
        <div class="createdAt">{{ item.created_at | date:'MMM dd, y' }}</div>
      </div>
      <div class="waveform"></div>
      <div class="tags">{{ item.tags }}</div>
      <div class="title" ng-click="togglePost($event)">{{ item.title }}</div>
      <div class="postContent">{{ item.content }}</div>
    </div>
  </div>
</div>
