<!-- top nav -->
<nav>
  <ul>
    <li id="navMySounds" ng-click="loadMySounds()">
      My Sounds
    </li>
    <li id="navMyFeed" ng-click="loadMyFeed()">
      My Feed
    </li>
    <li id="navGlobalFeed" ng-click="loadGlobalFeed()">
      All Sounds
    </li>
    <li id="navFindUsers" ng-click="findUsers()">
      Find Users
    </li>
  </ul>
</nav>
<!-- My Personal Feed -->
<div id="mySounds">

  <div class="soundItem animated fadeInUp" ng-repeat="item in mySounds track by $index | orderBy : created_at " on-last-repeat>
    <div class="mediaSection">
      <div class="playButton">
        Play
      </div>
      <div id="waveform_{{item.id}}" class="waveform"></div>
    </div>
  </div>

</div>

<!-- My Following Feed -->
<div id="myFeed">
</div>


<!-- Global Feed -->
<div id="globalFeed">
</div>

<!-- Find Users -->
<div id="findUsers">
</div>

<!-- Map View -->
<div id="map">
</div>

<!-- Settings -->
