$font-stack: 'Roboto Slab', serif;
$primary-color: #F2385A;
$secondary-color: #3AA1BF;
$text-color: #333;
$special-color: #333;
$background-color: #E9F1DF;

*{
  box-sizing: border-box;
  font-family: $font-stack;
}
html, body {
  height: 100%;
  min-height: 100%;
}

.hide {
  display: none;
}
input {
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 479px) {
  body {
    width: 100%;
    nav {
      ul {
        margin: 0 auto;
        padding: 0;
        background-color: $primary-color;
        li {
          color: $text-color;
          list-style: none;
          text-align: center;
          font-size: 1.75em;
          padding: 10px 0;
          border-bottom: 5px solid $special-color;
          &.selected {
            background-color: $secondary-color;
          }
        }
      }
    }
  }  
}
