$font-stack: 'Roboto Slab', serif;
$primary-color: #F2385A;
$secondary-color: #3AA1BF;
$text-color: #333;
$special-color: #333;
$background-color: #E9F1DF;

*{
  box-sizing: border-box;
  font-family: $font-stack;
}
html, body {
  height: 100%;
  min-height: 100%;
}

#login {
  background-color: $primary-color;
  height: 100%;

  #instructions {
    padding-top: 10px;
   color: $text-color;
   text-align: center;
   font-size: 1.25em;
  }

  #logo {
    font-size: 3em;
    padding-top: 10px;
    text-align: center;
    color: $secondary-color;
  }

  #signin {
    pointer: cursor;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgb(59,89,152);
    width: 90%;
    border-radius: 10px;
    height: 50px;
    i {
      float: left;
      padding: 7px 0 0 20px;
      font-size: 2.5em;

    }
    i::after {
      padding-left: 10px;
      content: "|";
    }
    a {
      text-decoration: none;
      color: white;
    }
    .fbtext {
      padding: 12px 0 0 0px;
      text-align: center;
      font-size: 1.2em;
    }
  }

}



.hide {
  display: none;
}

i.fa-trash-o {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 1.25em;
  color: $background-color;
  cursor: pointer;
}

@media only screen and (max-width: 479px) {
  body {
    width: 100%;
    div#signout {
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 1.25em;
      color: $text-color;
      cursor: pointer;
      a {
        text-decoration: none;
        color: $text-color;
      }
    }
    nav {
      ul {
        margin: 0 auto;
        padding: 0;
        background-color: $primary-color;
        li {
          color: $text-color;
          list-style: none;
          text-align: center;
          font-size: 1.75em;
          padding: 10px 0;
          border-bottom: 5px solid $special-color;
          &.selected {
            background-color: $secondary-color;
          }
          // &:hover {
          //   background-color: darken( $primary-color, 10% );
          // }
          // &:active {
          //   background-color: lighten( $primary-color, 10% );
          // }
        }
      }
      i.fa-caret-down, i.fa-caret-right {
        font-size: 3em;
        color: $text-color;
        position: absolute;
        top: 6px;
        left: 20px;
      }
    }
    input.search {
      width: 100%;
      padding: 20px;
      outline: none;
      border: none;
    }
    .mediaSection {
      padding-top: 10px;
      width: 100%;
      height: 150px;
      .playButton {
        float: left;
        width: 100px;
        height: 100px;
        i {
          width: 100%;
          text-align: center;
          color: $text-color;
          &.fa-play-circle-o {
            padding-top: 10px;
            font-size: 6em;
          }
          &.fa-stop {
            padding-top: 30px;
            font-size: 4em;
          }
        }
      }
      .wave {

        width: 100%;
      }
    }
    .soundItem {
      width: 100%;
      height: 100%;
      .post {
        position: relative;
        background-color: $primary-color;
        width: 100%;
        min-height: 175px;
        .dateBox {
          position: relative;
          float: left;
          width: 100px;
          padding: 10px 0 0 0;
          color: $background-color;
          text-align: center;
          .day {
            font-size: 3em;
          }
          .monthyear {
            font-size: 1em;
            padding-bottom: 20px;
          }
          .location {
            position: relative;
            font-size: 0.75em;
            font-weight: 100;
            bottom: 10px;
            i {
              &.fa-map-marker {
                display: block;
                padding-bottom: 5px;
                font-size: 1.25em;
              }
            }
            input{
              position: absolute;
              padding: 10px 5px;
              left: 0;
              border: none;
              outline: none;
              width: 100%;
              -webkit-appearance: none;
              -webkit-border-radius:0; 
              border-radius:0;
              color: $secondary-color;
              font-size: 0.8em;
              font-weight: normal;
              text-align: center;
            }
            button {
              position: absolute;
              bottom: -45px;
              left: 0;
              padding-: 10px 5px;
              width: 100%;
              height: 30px;
              font-weight: normal;
              color: $text-color;
              border: none;
              background-color: $secondary-color;
              -webkit-appearance: none;
              -webkit-border-radius:0; 
              border-radius:0;
            }
          }
        }
        .postText {
          color: $text-color;
          margin-left: 100px;
          padding: 20px 10px;
          line-height: 1.5em;
          .postTitle {
            font-weight: bold;
          }
          .postContent {
            font-weight: 300;
          }
        }
      }
    }
    .followedItem {
      width: 100%;
      height: 100%;
      .titleBar {
        width: 100%;
        height: 50px;
        padding: 10px;
        background-color: $text-color;
        border-bottom: 5px solid $secondary-color;
        color: $background-color;
        .user {
          float: left;
          a {
            padding-left: 15px;
            color: $primary-color;
            text-decoration: none;
          }
        }
        .date {
          float: right;
        }
      }
      .feedText {
        text-align: center;
        padding: 20px;
        line-height: 1.75em;
        .title {
          font-weight: bold;
          
        }
        .content {
          font-weight: 300;
        }
      }
    }
    #findUsers {
      padding: 10px 0;
      .userRecord {
        width: 100%;
        padding: 10px 20px;
        img.avatar {
          width: 100px;
          height: 100px;
          border-radius: 150px;
          -webkit-border-radius: 150px;
          -moz-border-radius: 150px;
          float: left;
        }
        .userInfo {
          float: left;
          padding-left: 20px;
          line-height: 1.75em;
          .name {
            display: block;
          }
          a {
            text-decoration: none;
            color: $primary-color;
          }
        }
        &:after {
          content: "";
          display: table;
          clear: both;
        }
      }
    }
  }  
}
