<!DOCTYPE html>
<html ng-app="earfulOfAngular">
<head>
  <title>Earful</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <script src="http://maps.google.com/maps/api/js?libraries=places"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="FeedController as feed">
<%= yield %>
</body>
</html>
